{% extends 'base.html' %}

{% load static %}
{% load pagination %}

{% block title %}
{{ question.title }}
{% endblock %}

{% block content %}
<div class="container px-5 mt-3">
    {% include 'questions/partials/question_card.html' %}

    <hr class="my-4">

    <h4 class="mb-4">Ответы ({{ page_obj.paginator.count }})</h4>

    <div id="answers-list" class="d-flex flex-column gap-3 mb-5">
        {% for answer in answers %}
            {% include 'questions/partials/answer_card.html' %}
        {% empty %}
            <div id="no-answers-stub" class="alert alert-info">
                Пока нет ни одного ответа к этому вопросу
            </div>
        {% endfor %}
    </div>

    <div class="mb-5">
        {% if user.is_authenticated %}
            <form action="" method="POST">
                {% csrf_token %}
                <h5 class="mb-3">Ваш ответ</h5>

                {% include 'partials/form_field.html' with field=form.content %}

                <div class="row justify-content-end mt-4">
                    <div class="col-12 col-md-4 col-lg-3">
                        {% include 'partials/form_button.html' with text='Ответить' %}
                    </div>
                </div>
            </form>
        {% else %}
            <div class="alert alert-info">
                <a href="{% url 'login' %}">Войдите</a>, чтобы оставить ответ.
            </div>
        {% endif %}
    </div>
</div>
{% if page_obj.paginator.num_pages > 1 %}
    {% show_pagination page_obj on_each_side=2 on_ends=1 %}
{% endif %}
{% endblock %}

{% block scripts %}
<div id="centrifugo-config"
     style="display: none;"
     data-ws-url="{{ centrifugo_ws_url }}"
     data-token="{{ centrifugo_token }}"
     data-channel="questions:{{ object.id }}"
     data-current-page="{% if page_obj %}{{ page_obj.number }}{% else %}1{% endif %}"
     data-current-user="{% if request.user.is_authenticated %}{{ request.user.profile.nickname }}{% endif %}"
     data-question-author="{{ object.author.nickname }}">
</div>

<script src="https://unpkg.com/centrifuge@5.0.1/dist/centrifuge.js"></script>
<script src="{% static 'js/centrifugo_answers.js' %}"></script>
{% endblock %}
