<div class="card shadow-sm">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-auto text-center">
                <img src="/public/static/img/avatar-default.svg" width="32" height="32" class="rounded-circle border">
                <p class="small mb-0">{{ answer.author_nickname }}</p>
            </div>
            <div class="col">
                <p class="mb-0">{{ answer.text }}</p>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-3">
            <div class="d-flex align-items-center justify-content-between border rounded-4 p-1 bg-light" style="min-width: 80px;">
                <span class="fw-bold small px-2">{{ answer.total_likes }}</span>
                <div class="d-flex flex-column">
                    <button class="btn btn-sm btn-link text-dark p-0 m-0 lh-1"><i class="bi bi-caret-up-fill"></i></button>
                    <button class="btn btn-sm btn-link text-dark p-0 m-0 lh-1"><i class="bi bi-caret-down-fill"></i></button>
                </div>
            </div>

            <div class="form-check">
                <input class="form-check-input" {% if answer.checkbox_value %}checked{% endif %} type="checkbox" id="check">
                <label class="form-check-label small" for="check">Правильный!</label>
            </div>

            <small class="text-muted ms-auto">{{ answer.time }}</small>
        </div>
    </div>
</div>
