<div class="font-sans text-dark p-3">
    <h2 class="fw-bold mb-3">Привет, {{ author_name }}!</h2>
    <p class="text-secondary">
        На ваш вопрос <strong class="text-dark">"{{ question_title }}"</strong> поступил новый ответ от пользователя <em class="fst-italic text-dark">{{ answer_author }}</em>.
    </p>

    <div class="p-3 bg-light border-start border-primary border-4 mb-4 rounded-end">
        {{ answer_text|linebreaks }}
    </div>

    <a href="{{ question_url }}" class="btn btn-primary px-4 py-2 text-decoration-none">
        Посмотреть ответ на сайте
    </a>
</div>
