{% extends 'base.html' %}
{% load pagination %}

{% block title %}
{{ question.title }}
{% endblock %}

{% block content %}
<div class="container px-5 mt-3">
    {% include 'questions/partials/question_card.html' %}

    <hr class="my-4">

    <h4 class="mb-4">Ответы ({{ page_obj.paginator.count }})</h4>

    <div class="d-flex flex-column gap-3 mb-5">
        {% for answer in answers %}
            {% include 'questions/partials/answer_card.html' %}
        {% empty %}
            <p class="text-muted">Пока нет ни одного ответа к этому вопросу</p>
        {% endfor %}
    </div>

    <div class="mb-5">
        <form action="{% url 'ask' %}" method="POST">
            {% csrf_token %}
            <h5 class="mb-3">Ваш ответ</h5>

            {% include 'partials/form_field.html' with type="textarea" field_id="answer_input" placeholder="Напишите решение здесь..." required=True %}

            <div class="row justify-content-end mt-4">
                <div class="col-12 col-md-4 col-lg-3">
                    {% include 'partials/form_button.html' with text='Ответить' %}
                </div>
            </div>
        </form>
    </div>
</div>
{% if page_obj.paginator.num_pages > 1 %}
    {% show_pagination page_obj on_each_side=2 on_ends=1 %}
{% endif %}
{% endblock %}
