<div>
    {% if label %}
        <label for="{{ field_id }}" class="form-label fw-semibold">{{ label }}</label>
    {% endif %}

    {% if type == 'textarea' %}
        <textarea id="{{ field_id }}"
                  name="{{ name|default:field_id }}"
                  class="form-control border-2 shadow-sm"
                  style="resize: none;"
                  rows="{{ rows|default:5 }}"
                  placeholder="{{ placeholder }}"
                  {% if required %}required{% endif %}>{{ value }}</textarea>
    {% else %}
        <input type="{{ type|default:'text' }}"
                id="{{ field_id }}"
                name="{{ name|default:field_id }}"
                class="form-control border-2 shadow-sm {% if error %} is-invalid {% endif %}"
                placeholder="{{ placeholder }}"
                value="{{ value }}"
                {% if required %}required{% endif %}
                {% if pattern %}pattern="{{ pattern }}"{% endif %}>

        {% if error %}
            <div class="invalid-feedback d-block">
                {{ error }}
            </div>
        {% endif %}
    {% endif %}
</div>
