{% load static %}

<div class="container-fluid">
    <div class="row align-items-center g-2">
        <div class="col-auto me-auto">
            <a href="{% url 'index' %}" class="logo text-nowrap text-decoration-none">try {</a>
        </div>

        {% if user.is_authenticated %}
            <div class="col-12 col-md-8 order-3 order-md-2 px-md-4">
                <form class="d-flex gap-2">
                <input type="text" class="form-control" placeholder="Искать вопрос...">
                <a href="{% url 'ask' %}" class="btn btn-primary">Вопрос!</a>
                </form>
            </div>
        {% endif %}


        <div class="col-auto ms-auto order-2 order-md-3">
            {% if user.is_authenticated %}
                <div class="d-flex align-items-center gap-3">
                    <div class="text-end d-none d-sm-block">
                        <a href="{% url 'profile' %}" class="fw-bold small d-block text-dark text-decoration-none">{{ user.username }}</a>
                    </div>

                    {% if user.profile.avatar %}
                        <img src="{{ user.profile.avatar.url }}" alt="Avatar" width="32" height="32" class="rounded-circle border">
                    {% else %}
                        <img src="{{ STATIC_URL }}img/avatar-default.svg" alt="Default Avatar" width="32" height="32" class="rounded-circle border">
                    {% endif %}

                    <div class="d-flex flex-column border-start ps-3" style="font-size: 13px;">
                        <a href="{% url 'settings' %}" class="text-muted text-decoration-none">Настройки</a>
                        <form method="post" action="{% url 'logout' %}?next={{ request.path }}">
                            {% csrf_token %}
                            <button type="submit" class="btn small btn-link text-danger p-0 m-0" style="font-size: 0.875rem; vertical-align: baseline;">Выйти</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="d-flex gap-2">
                    <a href="{% url 'login' %}" class="btn btn-outline-primary btn-sm px-3 rounded-3">
                        Войти
                    </a>

                    <a href="{% url 'signup' %}" class="btn btn-primary btn-sm px-3 rounded-3">
                        Регистрация
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
