{% extends 'core/layout/profile_base.html' %}

{% block title %}
Настройки
{% endblock %}

{% block header %}
    {% include 'core/partials/tabs.html' with active_tab='settings' %}
{% endblock %}

{% block profile_content %}
<div class="row mt-3">
    <div class="col">
        <form action="" method="post" class="needs-validation mb-3">
            <div class="row">
                <div class="col-md-3">
                    <div class="d-flex flex-column mb-3">
                        <label for="avatar" class="form-label fw-semibold">Фото профиля</label>
                        <img src="" width="128" height="128" class="border rounded-circle mb-2">
                        <input type="file" name="" id="avatar" class="form-control form-control-sm border-2 shadow-sm">

                        <!--
                        <div class="d-flex flex-column">
                            <small class="text-danger mt-1">Ошибка чтения файла</small>
                            <small class="text-danger mt-1">Размер файла слишком большой</small>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-8 mx-auto d-grid gap-3">

                    {% include 'partials/form_field.html' with field_id='signup_login' label='Логин' placeholder='Придумайте логин... (длина: 3 - 32 символа)' required=True %}

                    {% include 'partials/form_field.html' with field_id='signup_email' label='Email' placeholder='example@mail.com' required=True %}

                    {% include 'partials/form_field.html' with field_id='signup_username' label='Никнейм' placeholder='Придумайте никнейм...' required=True %}

                        <!-- <div class="d-flex flex-column">
                            <small class="text-danger mt-1">Заполните поле</small>
                            <small class="text-danger mt-1">Логин слишком короткий</small>
                        </div> -->



                        <!-- <div class="d-flex flex-column">
                            <small class="text-danger mt-1">Заполните поле</small>
                            <small class="text-danger mt-1">Некорректный домен</small>
                            <small class="text-danger mt-1">Данный Email уже зарегистрирован</small>
                        </div> -->

                        <!--
                        <div class="d-flex flex-column">
                            <small class="text-danger mt-1">Заполните поле</small>
                            <small class="text-danger mt-1">Данный никнейм уже занят</small>
                        </div> -->

                    <div class="d-grid gap-2">
                        <!-- <p class="text-success text-center m-0 p-0">На Вашу почту отправлено письмо с подтверждением</p>
                        <p class="text-danger text-center m-0">Ошибка сохранения. Попробуйте позже</p> -->

                        {% include 'partials/form_button.html' with text='Сохранить' %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
