<div class="mt-2">
    <ul class="list-unstyled d-inline-block border border-1 border-primary border-opacity-50 rounded-4 p-3 mb-0">
        <li class="d-flex align-items-center mb-2">
            <span class="bg-primary rounded-circle me-2" style="width: 8px; height: 8px;"></span>
            <small class="text-muted">Минимум 8 символов</small>
        </li>
        <li class="d-flex align-items-center mb-2">
            <span class="bg-primary rounded-circle me-2" style="width: 8px; height: 8px;"></span>
            <small class="text-muted">Только латинский алфавит A-Z, a-z</small>
        </li>
        <li class="d-flex align-items-center mb-2">
            <span class="bg-primary rounded-circle me-2" style="width: 8px; height: 8px;"></span>
            <small class="text-muted">Цифры 0-9</small>
        </li>
        <li class="d-flex align-items-center mb-2">
            <span class="bg-primary rounded-circle me-2" style="width: 8px; height: 8px;"></span>
            <small class="text-muted">Хотя бы одна заглавная</small>
        </li>
        <li class="d-flex align-items-center mb-0">
            <span class="bg-primary rounded-circle me-2" style="width: 8px; height: 8px;"></span>
            <small class="text-muted">Хотя бы один спец. символ</small>
        </li>
    </ul>
</div>
