{% extends "base.html" %}
{% load pagination %}

{% block content %}
<div class="container">
    {% block header %}
    {% endblock %}

    <div class="d-flex flex-column gap-3 px-5 mb-5">
        {% if not questions %}
            <h4 class="">Пока нет ни одного вопроса</h4>
        {% endif %}

        {% for question in questions %}
            {% include 'questions/partials/question_card.html' %}
        {% endfor %}
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
        {% show_pagination page_obj on_each_side=2 on_ends=1 %}
    {% endif %}
</div>
{% endblock %}
